<div class="portfolio">
   <h2>Portfolio</h2>
    <ul>
        <li>
            <figure>
                <img src="img/p-1.jpg.png" alt="Money-trading">
            </figure>
            <figcaption>How money trade happens?</figcaption>
        </li>
        <li>
            <figure>
                <img src="img/p-2.jpg.png" alt="Car over money">
            </figure>
            <figcaption>Can money buy happiness?</figcaption>
        </li>
        <li>
            <figure>
                <img src="img/p-3.jpg.png" alt="Tomatoes">
            </figure>
            <figcaption>Types of tomatoes</figcaption>
        </li>
        <li>
            <figure>
                <img src="img/p-4.jpg.png" alt="Strawberries">
            </figure>
            <figcaption>Benefits of strawberries</figcaption>
        </li>
        <li>
            <figure>
                <img src="img/p-5.jpg.png" alt="New York">
            </figure>
            <figcaption>Life in NYC</figcaption>
        </li>
        <li>
            <figure>
                <img src="img/p-6.jpg.png" alt="Sunset in NYC">
            </figure>
            <figcaption>Alination of human from nature.</figcaption>
        </li>
    </ul>
</div>
